# Configuration locale — ne jamais versionner
db.php

# OS
.DS_Store
Thumbs.db

# Éditeurs
.vscode/
.idea/
*.swp

/logs/

/Historique de la série NetDTL.docx
/Historique de la série NetDTL.pdf

/Historique_de_la_serie_NetDTL.docx

/NetDTL_Guide_Utilisateur.docx

/Gitou.png
/Gitou_small.png
